<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
</head>
<body>
	<!-- sign in -->
	<div>
		<label for="username">username</label>
		<input id="username" name="username" type="text">
		<label for="password">password</label>
		<input id="password" type="password">
		<input id="submit" type="button" value="submit">
	</div>
</body>
<script>
	var username = document.getElementById('username');
	var password = document.getElementById('password');
	document.getElementById('submit').onclick = function() {
		fetch('/login', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8'
			},	
			credentials: 'include',
			body: `username=${username.value}&password=${password.value}`
		}).then(function(res) {
			if(res.ok) {
				return res.json()
			}
		}).then(function(json) {
			if(json.success) {
				window.location.href = json.redirect;
			}
		})
	}
</script>
</html>