/*The flip demo ref to https://davidwalsh.name/css-flip*/

.sh {
  font-size: 12px;
  width: 450px;
  height: 290px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 2px;
}

.sh-dark {
  background-color: black;
  color: #fff;
}

.sh-hd {
  height: 30px;
  position: relative;
}

.sh-icon {
  display: inline-block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  line-height: 12px;
  cursor: pointer;
}

.sh-icon:hover {
  color: rgba(0, 0, 0, .6);
}

.sh-icon-close {
  background-color: #ff5f56;
  color: #ff5f56;
  left: 10px;
}

.sh-icon-minimize {
  background-color: #ffbd2e;
  left: 30px;
}

.sh-icon-full-screen {
  background-color: #27c93f;
  left: 50px;
}

.sh-bd {
  margin-top: 15px;
  padding: 10px;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

.flipper-wrapper {
  width: 450px;
  height: 290px;
  perspective: 1000;
  -webkit-perspective: 1000;
}

.flipper {
  margin-top: 200px;
  position: relative;
  transition: 0.6s;
  transform-style: preserve-3d;
}

/*flip the panel when hovered*/
.flipper-wrapper.flip .flipper {
  transform: rotateY(180deg);
}

/*Login panel must be first in flip effect when init*/
.login {
  z-index: 2;
  transform: rotateY(0deg);
}

.sign {
  transform: rotateY(180deg);
}

.login,
.sign {
  backface-visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
}

.url {
  text-align: center;
  box-sizing: border-box;
  position: absolute;
  height: 90%;
  width: 130px;
  vertical-align: middle;
  background-color: #f7f7f7;
  padding: 5px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  color: #999;
}

.url::after {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.cicle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: black;
  display: inline-block;
  margin-right: 10px;
}

.username,
.password {
  margin: 10px;
  outline: none;
  width: 200px;
  padding: 2px 5px;
  font: inherit;
  border: none;
}
