/*global*/
body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", sans-serif;
  color: #50596c;
  font-size: 14px;
}

/*input*/
.form-control {
  padding: 5px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 2px;
}

/*button*/
.btn {
  display: inline-block;
  padding: 5px 15px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  color: inherit;
}

/*util*/
.center {
  margin: 0 auto;
}
